@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
    font-family: "Venus";
    src: url("../fonts/Venus/Venus_Acier.otf");
}

.signup_page {
    display: flex;
    height: 100vh;
}

.image {
    flex: 3;
    background-image: url("https://media0.giphy.com/media/JtBZm3Getg3dqxK0zP/giphy.gif?cid=ecf05e47gmnmr6tyesi955zjgvlk72ka2oqd708h6awa0atc&ep=v1_gifs_search&rid=giphy.gif&ct=g");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup_form {
    flex: 5;
    padding-left: 10vw;
    padding-top: 15vh;
}

.signup_hero {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Poppins";
}

.logo {
    font-family: "Venus";
}

.google_signup {
    display: flex;
    margin-top: 4vh;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    background-color: black;
    color: white;
    padding: 0.75rem 1rem;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    width: 41%;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }
}

.google_logo {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.divider {
    height: 1px;
    width: 35%;
    margin-top: 1vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.signUpWithEmailCont {
    margin-top: 3vh;
    display: flex;
    align-items: flex-start;
    gap: 1vw;
    width: 41%;
}

.signupwithemail {
    width: 60%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Poppins";
    font-size: 0.7rem;
    opacity: 0.5;
}

.login_inputs {
    margin-top: 5vh;
}

.input {
    width: 41%;
    height: 2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    padding-left: 0.5vw;
    font-family: "Poppins";
    font-size: 0.9rem;

    margin-bottom: 2vh;

    &:focus {
        outline: 2px solid rgba(0, 0, 0, 0.2);
        border: none;
    }

    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
}

.signUpBtn {
    margin-top: 4vh;
    width: 41%;
    height: 6.5vh;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-family: "Poppins";
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
        background-color: #202020;
    }
}

.disabled {
    margin-top: 4vh;
    width: 41%;
    height: 6.5vh;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-family: "Poppins";
    font-size: 0.9rem;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0.5;
    cursor: not-allowed;
}
