@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap");
.StockCard {
    font-family: "Roboto Slab", serif;
    margin: 3px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    padding: 1rem;
}

.symbol {
    font-size: 2rem;
    font-weight: 800;
}

.identifier {
    margin-top: 0.3rem;
    font-size: 1rem;
    font-weight: 400;
}

.open {
    color: rgb(71, 185, 223);
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
}
.dayHigh {
    color: rgb(90, 221, 38);
    font-size: 1.3rem;
    font-weight: 400;
}
.dayLow {
    color: rgb(221, 38, 38);
    font-size: 1.3rem;
    font-weight: 400;
}

.lastPrice {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
}
.previousClose {
    font-size: 1.3rem;
    font-weight: 400;
}

.change {
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
}
