@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
    font-family: "Venus";
    src: url("../fonts/Venus/Venus_Acier.otf");
}

.cardContainer {
    height: 250px;
    width: 350px;
    border-radius: 20px;
    padding: 15px;
    border: 4px solid #1f1f1f;
    background-color: #fffff2;
}

.cardHeader {
    font-family: "Venus";
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: "Venus", sans-serif;

    span {
        font-family: "Venus";
        font-weight: bold;
    }
}

.changeAmount {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: "Venus", sans-serif;

    span {
        font-family: "Venus";
        font-weight: bold;
    }
}

.changePercentage {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: "Venus", sans-serif;
}

.volumneTraded {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: "Venus", sans-serif;

    span {
        font-family: "Venus";
        font-weight: bold;
    }
}
